# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [1]:
# Welcome to DAC!
# Single-line comments use the hash symbol (#)
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using triple quotes (".."..")
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output
print("Hello ")

Hello

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Shift + Enter

In [2]:
# Now try printing your name!
print("E-Ling")

E-Ling

## Basic Arithmetic Operations and Data Types

In [3]:
# Arithmetic Operators: + - * / % **

# Addition +
print(8+3)

# Subtraction -
print(8-3)

# Multiplication *
print(8*3)\

# Division /
print(8/3)

# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(8%3)
# Exponentiation **
print(8**3)

11
5
24
2.6666666666666665
2
512

In [4]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print ("stringy")

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(10)

# Long Integers (Python automatically handles big integers)
print(2**32)

# Floats represent decimal numbers
print(3.14)

# Complex Numbers use 'j' to represent the imaginary part
print(2+3j)

stringy
!@#$%jkwewuorweprh6546846515648646546
10
4294967296
3.14
(2+3j)

## Boolean
*   Booleans represent one of two values: True or False.

In [5]:
a=5
b = 10%3
c = bool(a==b)
print (c)
  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

False

In [6]:
# Equals ==
print(5==5)
print(5==4)
# Inqual !=
print(5!=6)

# More than >
print(5>4)

# More than and equal to >=
print(6>=4)

# Less than <
print()

# Less than and equal to <=
print()

True
False
True
True
True

In [7]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

a= True
print(type(a))
 # A Boolean value can be either True or False.
 # This checks the type of 'a' and will return <class 'bool'>

# Checking the type of a string
print(type("hello world")) # This will return <class 'str'>, indicating it's a string.

# Checking the type of an integer
print(type(78))  # This will return <class 'int'>, indicating it's an integer.

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [8]:
# Convert a float to an integer
print(int(6.78))  # Output: 6

# Convert an integer to a float
print(float(3))  # Output: 3.0

# Convert an integer to a string and print its type
print(type(str(6)))  # Output: <class 'str'>

# Convert a non-zero integer to a boolean
print(bool(5))  # Output: True (Any non-zero value is considered True)

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
decimal_value=3.142  # Use descriptive names for clarity
print(decimal_value)

number=5  # Keep the variable name clear and relevant
print(number)

6
3.0
<class 'str'>
True
3.142
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [9]:
# Creating strings
name="E-Ling"
print(name)

# Combining strings
last_name="Seet"
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
print("Full Name: "+name+" "+last_name)

# Alternative Method for String Formatting
print("Full name: {0} {1}".format(name,last_name))  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.

E-Ling
Full Name: E-Ling Seet
Full name: E-Ling Seet

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [10]:
list1=[] # Empty list
print(list1)

mixedlist=[True,"Monday",2,3.14]
print(mixedlist)

 # List with different data types

[]
[True, 'Monday', 2, 3.14]

In [11]:
# Adding elements to a list using the above variables
list1.append(1)
list1.append("yay")
print(list1)

  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

mixedlist.append("yay")  # Adding a string to the mixed list
print(mixedlist)  # Output: [True, 'Slay', 173, 3.14, 'AHH']

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1, 'yay']
[True, 'Monday', 2, 3.14, 'yay']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [12]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)
list1.insert(0,50)
print(list1)
  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[50, 1, 'yay']

In [13]:
# Deleting elements from a list

# Using `del` to delete by index
del list1[0]  # Deletes the element at index 0 (1st element in the list)
print(list1)  # Output: List with the 1st element removed

[1, 'yay']

In [14]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
list1.remove("yay")  # Removes the first occurrence of the value "yay" from the list
print(list1)  # Output: List without the first "yay"

[1]

In [15]:
# List Indexing
list4=[3,1,4,1,5]
index_list4=list4.index(3)  # Finds the index position of the element '3' in the list
print=index_list4  # Output: 0 (since '3' is at the 0th index)
list4

[3, 1, 4, 1, 5]

In [16]:
'john doe'

'john doe'

In [17]:
# print("5")
# print(type(list4))

In [18]:
# Finding minimum and maximum values in a list
min_list4= min(list4)  # Use the min() function to find the smallest element in list4
max_list4=max(list4)  # Use the max() function to find the largest element in list4
# print(min_list4)
# print(max_list4)


# With labels
# print("maximum value:", max_list4)  # Output the minimum value
# print("minimum value:", min_list4)  # Output the maximum value

In [19]:
max_list4

5

In [20]:
listNum =[4,2,1,3,6,5,9]
sorted_listNumList=sorted(listNum)
sorted_listNumList
 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 3, 4, 5, 6, 9]

In [21]:
listNem2=[1,2,3,4,5,6]
listNem2.reverse() # Reverse listNum2
print(listNem2) # Otput the reversed list

TypeError: 'int' object is not callable

In [3]:
print("john")
 # Clear all elements from the list
 # Print the cleared list

john

In [20]:


 # Add the two lists together
 # Output the added list

In [21]:

 # Multiply the list by 2
 # Output the multiplied list

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [31]:
dance=("jazz","tap")
type(dance) # Check the type of the 'parents' variable

tuple

In [2]:
#tuple list
tuple_list=list("dance")
tuple_list # Output the list
print(type(tuple_list)) # Check the type of 'tuplelist'

<class 'list'>

In [1]:
# print(tuple_list)
print("Hello World")

Hello World

In [27]:
tuplelist.append("Ballet") # Add new line to the list 'tuplelist'
 # Output the updated list

In [29]:
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple

In [28]:
 # Get the length of the list 'tuplelist'
 # Output of the length

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [30]:

 # Output of the set

In [31]:
 # Add an element to the set
 # Output of the updated set

In [32]:
 # Remove an element from the set
 # Output of the updated set

In [33]:

 # Output of the set

In [34]:

 # Output of the original list

 # Convert the list to a set (to remove duplicates)
 # Output of the converted set

 # Check the data type of r_set
 # Output of the converted set

In [35]:
# Creating a dictionary to store information about a person






  # Outputs the entire dictionary

# Accessing a specific value using the key


# Using the get() method to retrieve a value safely